@model Entities.Concrate.Service

@{
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Anasayfa</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Servisler</li>
            <li class="breadcrumb-item" aria-current="page">Güncelle</li>
        </ul>
    </div>
</div>

<form method="post" class="form-control">
    <input type="hidden" asp-for="ServiceId"/>
    <label>Başlık</label>
    <input type="text" asp-for="ServiceContent" value="@Model.ServiceContent" class="form-control"/>
    @Html.ValidationMessageFor(x=> x.ServiceContent)
    <br/>
    <label>Metin</label>
    <textarea name="ServiceText" rows="4" class="form-control">@Model.ServiceText</textarea>
    @Html.ValidationMessageFor(x=> x.ServiceText)
    <br/>
    <label>Icon</label>
    <input type="text" asp-for="ServiceIcon" value="@Model.ServiceIcon" class="form-control"/>
    @Html.ValidationMessageFor(x=> x.ServiceIcon)
    <br/>
    <button class="btn btn-outline-warning">Güncelle</button>
</form>