@model Entities.Concrate.Education

@{
    ViewData["Title"] = "Eğitim Güncelle";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Özgeçmiş</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Deneyim</li>
            <li class="breadcrumb-item" aria-current="page">Deneyim Güncelle</li>
        </ul>
    </div>
</div>

<form method="post" class="form-control">
    <input type="hidden" asp-for="EducationId"/>
    <label>Başlık</label>
    <input type="text" asp-for="EducationContentlow" value="@Model.EducationContentlow" class="form-control"/>
    @Html.ValidationMessageFor(x => x.EducationContentlow)
    <br/>
    <label>Açıklama</label>
    <input type="text" asp-for="EducationText" value="@Model.EducationText" class="form-control"/>
    @Html.ValidationMessageFor(x => x.EducationText)
    <br/>
    <label>Tarih</label>
    <input type="text" asp-for="EducationTime" value="@Model.EducationTime" class="form-control"/>
    @Html.ValidationMessageFor(x => x.EducationTime)
    <br/>
    <button class="btn btn-outline-warning">Güncelle</button>
</form>