@model System.Collections.Generic.List<Entities.Concrate.NavbarLeft>

@{
    ViewData["Title"] = "Sol Menü";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Furkan Türker</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Sol Menü</li>
        </ul>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Görsel</th>
        <th>İsim Soyisim</th>
        <th>Ünvan</th>
        <th>E-mail</th>
        <th>Telefon</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.NavbarLeftImage" width="300" alt="Görsel Yok"/></td>
            <td>@item.NavbarLefName</td>
            <td>@item.NavbarLeftText</td>
            <td>@item.NavbarLeftEmail</td>
            <td>@item.NavbarLeftPhone</td>
            <td><a href="~/NavbarLeft/Update/@item.NavbarLeftId" class="btn btn-outline-dark">Güncelle</a></td>
        </tr>
    }
</table>