@model List<Entities.Concrate.Portfolio>

<section class="projects">
                    <ul class="filter-list">
                        <li class="filter-item"><button class="active" data-filter-btn>All</button></li>
                        <li class="filter-item"><button data-filter-btn>Web Design</button></li>
                        <li class="filter-item"><button data-filter-btn>Applications</button></li>
                        <li class="filter-item"><button data-filter-btn>Web Development</button></li>
                    </ul>

                    <div class="filter-select-box">
                        <button class="filter-select " data-select>
                            <div class="select-value" data-select-value>Select Category</div>

                            <div class="select-icon">
                                <ion-icon name="chevron-down"></ion-icon>
                            </div>
                        </button>

                        <ul class="select-list">
                            <li class="select-item"><button data-select-item>All</button></li>
                            <li class="select-item"><button data-select-item>Web Design</button></li>
                            <li class="select-item"><button data-select-item>Applications</button></li>
                            <li class="select-item"><button data-select-item>Web Development</button></li>
                        </ul>
                    </div>

                    <ul class="project-list">
                        @foreach (var item in Model)
                        {
                            <li class="project-item active" data-filter-item data-category="web development">
                                <a href="@item.PortfolioLink" target="_blank">
                                    <figure class="project-img">
                                        <div class="project-item-icon-box">
                                            <ion-icon name="eye-outline"></ion-icon>
                                        </div>

                                        <img src="@item.PortfolioImage" alt="@item.PortfolioName" loading="lazy">
                                    </figure>

                                    <h3 class="project-title">@item.PortfolioName</h3>
                                    <p class="project-category">@item.PortfolioCategory</p>
                                </a>
                            </li>
                        }
                    </ul>
                </section>
